<form>
  <h3>Add a Link</h3>
  <div>
    <label for="title">Title:</label> <input name="title" #newTitle placeholder="Enter the title">
  </div>
  <div>
    <label for="link">Link:</label> <input name="link" #newLink placeholder="Enter the link">
  </div>
  <button (click)="addArticle(newTitle,newLink)">Submit Link</button>
</form>
<!--
<app-article *ngFor="let article of articles"
[article]="article"></app-article>
-->
<div>
  <app-article *ngFor="let article of sortedArticles()" [article]="article"
  (articleSelected)="selectArticle($event)">
  </app-article>
</div>